@import "../styles/colors.scss";

.prompt-dialog {
	.dialog {
		padding: 25px 25px 10px 25px;
	}
	button {
		background: white;
		border: 2px solid transparent;
		display: inline-block;
		border-radius: 4px;
		color: $formInputTextColor;
		padding: 7px 30px;
		margin: 5px;
		transition: $tableTransition;
		box-shadow: $dialogFooterButtonShadow;
		cursor: pointer;
		&.prompt-no {
			background: $formSubmitPrimary;
			color: white;
			&:hover {
				border-color: $formSubmitStandard;
				background: none;
				color: $formSubmitStandard;
			}
		}
		&.prompt-yes {
			background: white;

			&:hover {
				border-color: $formSubmitDelete;
				background: $formSubmitDelete;
				color: white;
			}
		}
	}

	h2 {
		margin-bottom: 10px !important;
	}
	.dialog-content {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 0px !important;
	}
}
