.onedash-input.style-twenty {
	& > input {
		border: 1.5px solid var(--tools-gray);
		color: var(--tools-text);
		border-radius: var(--tools-border-radius);
		transition: 0.15s all ease-in-out;
		background: var(--tools-background);

		&:focus {
			outline: none;
			border-color: var(--tools-blue);
		}
	}

	&.input-invalid > input {
		border-color: var(--tools-failure);
	}
}
