.onedash-time-calendar.style-twenty {
	border-radius: 4px;
	border: 2px solid $timeCalendarBorder;

	& * {
		font-family: var(--tools-font-family);
	}
	.onedash-calendar-header {
		width: calc(100% - 10px);
		padding: 5px;
		border-bottom: 2px solid $timeCalendarBorder;
		display: flex;
		align-items: center;

		&-controls {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
			margin: 5px;
			color: $timeCalendarHeaderTextColor;
			align-items: center;
			button {
				font-size: 1.4rem;
				font-weight: bold;
				background: none;
				border: none;
				cursor: pointer;
			}
			span {
				font-weight: bold;
				font-size: 1.2rem;
			}
		}
	}
	.onedash-calendar-content {
		overflow-x: auto;
		padding-bottom: 250px;
		margin-bottom: -250px;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}

		&__days {
			display: flex;

			.onedash-time-legend {
				flex-shrink: 1;
				&__header {
					text-align: center;
					height: 35px;
					padding: 10px 5px;
					background: $timeCalendarHeaderBackground;
					border-bottom: 2px solid $timeCalendarBorder;
					font-weight: bold;
					font-size: 1rem;
					user-select: none;
				}
				&__cell {
					height: 21px;
					user-select: none;
					cursor: auto;
					transition: $timeCalendarTransition;
					text-align: center;
				}
			}
			.onedash-day {
				flex: 1;
				background: $timeCalendarNotWorking;
				border-left: 2px solid $timeCalendarBorder;
				&:first-of-type {
					border-left: none;
				}

				&__header {
					text-align: center;
					height: 35px;
					padding: 10px 5px;
					margin-bottom: 10px;
					background: $timeCalendarHeaderBackground;
					border-bottom: 2px solid $timeCalendarBorder;
					transition: $timeCalendarTransition;
					user-select: none;
					cursor: pointer;
					&:hover {
						background: $timeCalendarDaySelected;
					}

					span {
						display: block;
						font-size: 0.9rem;

						&.bold {
							font-weight: bold;
							font-size: 1rem;
						}
					}
				}

				&__content {
					.onedash-cell {
						height: 20px;
						border-bottom: 1px solid $timeCalendarBorder;
						cursor: pointer;
						background: white;

						&:hover,
						&.selected {
							background: $timeCalendarSelected;
							border-bottom: 1px solid $timeCalendarSelected;
						}
						&.hover {
							background: transparentize($timeCalendarSelected, 0.5);
							border-bottom: 1px solid transparentize($timeCalendarSelected, 0.5);
						}

						&.booked {
							background: $timeCalendarBooked;
							border-bottom: 1px solid $timeCalendarBooked;

							&__primary {
								background: $timeCalendarBookedPrimary;
								border-bottom: 1px solid $timeCalendarBookedPrimary;
							}
							&.full-day {
								background: $timeCalendarBookedFullDay;
								border-bottom: 1px solid $timeCalendarBookedFullDay;
							}
						}

						&.non-working {
							background: $timeCalendarNotWorking;
							pointer-events: none;
							border-bottom: 1px solid $timeCalendarBorder;
						}

						& .onedash-popover__content {
							&-title {
								margin: 0px 10px;
							}
							.onedash-cell-popover-btn {
								border: none;
								margin: 10px;
								padding: 0px;
								background: none;
								color: $timeCalendarPopoverBtnColor;
								cursor: pointer;
								font-weight: bold;
								transition: 0.15s all ease-in-out;
								&:hover {
									opacity: 0.7;
								}
							}
						}
					}
				}
			}
		}
	}
}
