.onedash-time-calendar.style-twenty {
	border-radius: 4px;
	border: 1px solid var(--tools-gray);

	& * {
		font-family: var(--tools-font-family);
		-webkit-appearance: none;
	}
	.onedash-calendar-header {
		width: calc(100% - 10px);
		padding: 5px;
		border-bottom: 1px solid var(--tools-gray);
		display: flex;
		align-items: center;

		&-controls {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
			margin: 5px;
			color: var(--tools-text);
			align-items: center;
			button {
				font-size: 1.4rem;
				font-weight: bold;
				background: none;
				border: none;
				cursor: pointer;
			}
			span {
				font-weight: bold;
				font-size: 1.2rem;
			}
		}
	}
	.onedash-calendar-content {
		overflow-x: auto;
		padding-bottom: 250px;
		margin-bottom: -250px;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}

		&__days {
			display: flex;

			.onedash-time-legend {
				flex-shrink: 1;
				&__header {
					text-align: center;
					height: 35px;
					padding: 10px 5px;
					background: var(--tools-table-header-background);
					color: var(--tools-table-header-text);

					border-bottom: 1px solid var(--tools-gray);
					font-weight: bold;
					font-size: 1rem;
					user-select: none;
				}
				&__cell {
					height: 21px;
					user-select: none;
					cursor: auto;
					transition: 0.15s all ease-in-out;
					text-align: center;
				}
			}
			.onedash-day {
				flex: 1;
				background: var(--tools-light-gray);
				border-left: 1px solid var(--tools-gray);
				&:first-of-type {
					border-left: none;
				}

				&__header {
					text-align: center;
					height: 35px;
					padding: 10px 5px;
					margin-bottom: 10px;
					background: var(--tools-table-header-background);
					color: var(--tools-table-header-text);
					border-bottom: 1px solid var(--tools-gray);
					transition: 0.15s all ease-in-out;
					user-select: none;
					cursor: pointer;
					&:hover {
						background: rgba(var(--tools-lachs-rgb), 0.8);
					}

					span {
						display: block;
						font-size: 0.9rem;

						&.bold {
							font-weight: bold;
							font-size: 1rem;
						}
					}
				}

				&__content {
					.onedash-cell {
						height: 20px;
						border-bottom: 1px solid var(--tools-gray);
						cursor: pointer;
						background: white;

						&:hover,
						&.selected {
							background: rgba(var(--tools-lachs-rgb), 1);
							border-bottom: 1px solid rgba(var(--tools-lachs-rgb), 1);
						}
						&.hover {
							background: rgba(var(--tools-lachs-rgb), 0.5);
							border-bottom: 1px solid rgba(var(--tools-lachs-rgb), 0.5);
						}

						&.booked {
							background: var(--tools-failure);
							border-bottom: 1px solid var(--tools-failure);

							&__primary {
								background: var(--tools-success);
								border-bottom: 1px solid var(--tools-success);
							}
							&.full-day {
								background: rgba(var(--tools-lachs-rgb), 0.7);
								border-bottom: 1px solid rgba(var(--tools-lachs-rgb), 0.7);
							}
						}

						&.non-working {
							background: rgba(var(--tools-black-rgb), 0.2);
							pointer-events: none;
							border-bottom: 1px solid rgba(var(--tools-black-rgb), 0);
						}

						& .onedash-arrow-box__content {
							&-title {
								margin: 0px 10px;
							}
							.onedash-cell-popover-btn {
								margin: 0px;
								color: var(--tools-failure);
							}
						}
					}
				}
			}
		}
	}
}
