@import "../styles/colors.scss";

.onedash-select-container {
	width: calc(100% - 20px);
	max-width: 245px;

	&.input-invalid select {
		border: 1.5px solid $formValidationFail;
	}

	select {
		width: 100%;
		margin-top: 5px;
		height: 38px;
		font-weight: bold;
		color: $formInputTextColor;
		padding: 9px 5px 9px 10px;
		background-color: #fff;
		border-radius: 4px;
		font-size: 0.9rem;
		border: 1.5px solid $formInputBorder;
		transition: 0.15s all ease-in-out;
		position: relative;

		&:focus {
			outline: none;
			border: 1.5px solid $formBorderFocus;
		}
	}
}
